#carContainer {
  height: 700px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 300px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carouselSF {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 50px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.itemCarouselSF {
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.itemCarouselSF:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.itemCarouselSF:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.itemCarouselSF:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.itemCarouselSF:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.itemCarouselSF:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carouselSF {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carouselSF {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carouselSF {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carouselSF {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carouselSF {
  --position: 5;
}



.prodBoxContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    background: var(--prod-bg-color); 
}

.prodBoxSF {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    background: #fff;
    margin: 10px;
}

.prodBoxSF .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: var(--img-bg-color);
    transition: .3s linear;
}

.prodBoxSF .imgBx:before {
    content: var(--brand-text);
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
}

.prodBoxSF .imgBx img {
    position: relative;
    width: 90%;
    transform: rotate(0deg);
    left: 0px;
    transition: .9s linear;
}

.prodBoxSF .detailsSF {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 70px 30px 20px 30px;
    margin-top:30px;
}

.prodBoxSF .detailsSF h2{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 0.9em;
    color: #444;
}

.prodBoxSF .detailsSF h2 span {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.prodBoxSF .detailsSF p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
    overflow:hidden; 
    text-overflow: ellipsis;
    max-height: 170px;
}

.prodBoxSF .detailsSF h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #555555; 
    float: left;
}
.prodBoxSF .detailsSF button {
    background: var(--prod-bg-color);
    color: var(--button-text-color);
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.black {
    background: #000;
}

.red {
    background: #D5212E;
}

.orange {
    background: #F18557;
}

.product-colors .active:after{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

/* responsive */
@media (max-width: 1080px) {
    .prodBoxSF {
        height: auto;
    }
    .prodBoxSF .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .prodBoxSF .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .detailsSF {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .prodBoxSF .detailsSF p {
        margin-left: 0;
        max-width: 100%;
    }
}


