{{!--
    Global Template: Recipes Carousel (up to 5 recs)

    @author: Juliano Polito (jpolito@salesforce.com)

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.
    2) Have product recipes setup

    Customizations:
   

--}}
<div id="carContainer" 
data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}"
data-evg-user-group="{{userGroup}}"
>
    {{#each rec}}
        <input type="radio" name="position" class="carControl"/>
    {{/each}}
  <main id="carouselSF">
    {{#each rec}}
        <div class="itemCarouselSF">
            <div class="prodBoxContainer">
                <div class="prodBoxSF">
                    <div class="imgBx">
                        <img src="{{this.attributes.imageUrl.value}}" alt="{{this.attributes.name.value}}">
                    </div>
                    <div class="detailsSF">
                        <div class="contentSF">
                            <h2>{{this.attributes.name.value}}<br>
                                <span>{{../brandName}}</span>
                            </h2>
                            <p>
                                {{this.attributes.description.value}}
                            </p>
                            <h3>$ {{this.attributes.price.value}}</h3>
                            <a href="{{this.attributes.url.value}}" data-evg-item-id="{{this.id}}" data-evg-item-type="{{../itemType}}">
                                <button data-evg-clickthrough >{{../ctaText}}</button> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</main>
</div>


